{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <table id="hotelTable" class="table">
            <thead>
            <tr>
                <th style="display: none;" scope="col">id</th>
                <th scope="col">#</th>
                <th scope="col">Otel Adı</th>
                <th scope="col">Site Linki</th>
                <th scope="col">Yıldız</th>
                <th scope="col">Telefon</th>
                <th scope="col">Mail</th>
                <th scope="col">İl</th>
                <th scope="col">İlçe</th>
                <th scope="col">Adres</th>
                <th scope="col">Detay</th>
                <th scope="col">İşlemler</th>
                <th scope="col"><a href="{{ path('add-hotel-index') }}"><button class="button btn-success fa fa-plus"></button></a></th>

            </tr>
            </thead>
            <tbody id ="hotelRows">
            <!--
        <tr>
            <td style="display:none;" ></td>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#"><button  id="otelEditBtn" onclick="otelEdit()"  class="button btn-primary small">Düzenle</button></a>

                <a href="#"><button onclick="roomIndex()" class="button btn-primary small">Odaları Gör</button></a>

                <a  href="#"><button onclick="hotelPics()" class="button btn-primary small">Resimleri Düzenle</button></a>

                <button id="otelSilBtn" onclick= "otelSil()" class="button btn-danger small">Sil</button>
            </td>
        </tr>
         -->
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}

    <script language="JavaScript">

        $(document).ready(function () {
            $.ajax({
               url:'/get-hotels',
               method:'post',
               success:function (data) {
                   var hotels = jQuery.parseJSON(data);
                   var hotelsCount = hotels.length;
                   console.log(hotels);
                   var html = "";
                   for (var i = 0; i<hotelsCount;i++){
                       html +='<tr>' +
                           '<td>'+(i+1)+'</td>'+
                           '<td>'+hotels[i].name+'</td>'+
                           '<td>'+hotels[i].link+'</td>'+
                           '<td>'+hotels[i].star+'</td>'+
                           '<td>'+hotels[i].phone+'</td>'+
                           '<td>'+hotels[i].mail+'</td>'+
                           '<td>'+hotels[i].province+'</td>'+
                           '<td>'+hotels[i].county+'</td>'+
                           '<td>'+hotels[i].address+'</td>'+
                           '<td>'+hotels[i].detail.substr(0,15)+'...</td>'+
                           '<td>' +
                           ' <a href="#"><button  id="otelEditBtn" onclick="otelEdit('+hotels[i].id+')"  class="button btn-primary small fa fa-edit" style="height: 30px;"></button></a>'+
                           '<a href="#"><button onclick="roomIndex('+hotels[i].id+')" class="button btn-primary small  fa fa-eye" style="height: 30px;"></button></a>'+
                            ' <a  href="#"><button onclick="hotelPics('+hotels[i].id+')" class="button btn-primary small  fa fa-image" style="height: 30px;"></button></a>'+
                           ' <button id="otelSilBtn" onclick= "otelSil('+hotels[i].id+')" class="button btn-danger small  fa fa-remove" style="height: 30px;"></button></a>'+
                           '</td>'+
                           '</tr>';
                   }
                   $('#hotelRows').html(html);
               },
               error:function (data) {
                   console.log(data);
               }
            });
        });

    </script>

    <script language="JavaScript">

        function otelSil(id) {

            $.ajax({
                url: '/deleteHotel',
                method: 'post',
                dataType: 'json',
                async: true,
                data:  {
                    id: id
                },
                success: function (response) {
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax request failed.');
                }
            });
        }

    </script>

    <script language="JavaScript">

    function otelEdit(id) {
       $.ajax({
           url: '/getHotelId' ,
           method: 'post',
           dataType: 'json',
           async: true,
           data:  {
               id: id
           },
           success: function (response) {
               window.location = '/edit-hotel?hotel=' + id;
           },
           error: function (xhr, textStatus, errorThrown) {
               console.log('Ajax request failed.');
           }
       });

    }

    </script>

    <script language="JavaScript">

    function  roomIndex(id) {
        $.ajax({
            url: '/getHotelRooms' ,
            method: 'post',
            dataType: 'json',
            async: true,
            data:  {
                id: id
            },
            success: function (response) {
                window.location = '/room-index?hotel=' + id;
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Ajax request failed.');
            }
        });

    }

    </script>

    <script language="JavaScript">
        function hotelPics(id){
           window.location= '/edit-hotel-pics?hotel='+id;
        }
    </script>


{% endblock %}