{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Oda Türü</th>
                <th scope="col">Oda Fiyatı</th>
                <th scope="col">Oda Katı</th>
                <th scope="col">Detay</th>
                <th scope="col">İşlemler</th>
                <th scope="col"><button class="btn-success">Yeni Oda Ekleyin</button></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <a href="{{ path('edit-room') }}"><button class="button btn-primary">Düzenle</button></a>
                    <button class="button btn-danger">Sil</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}