{% extends 'base.html.twig' %}

{% block title %}Galeri{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="title">İletişim</h1>
        <div class="contact">
            <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="spacer">
                            <h4>İletişim Bilgilerimiz</h4>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
