{% extends 'base.html.twig' %}

{% block title %}Otel Ayrıntıları{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="title">Otel Detayları</h1>

        <!-- Otel detayları başlangıç -->

        <div id="HotelDetails" class="carousel slide" data-ride="carousel">
            <div id ="hotelPics" class="carousel-inner"></div>
            <a class="left carousel-control" href="#HotelDetails" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right carousel-control" href="#HotelDetails" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>

        </div>
        <!-- Hotelarousel-->

        <div class="room-features spacer">
            <div id="hotelInfo" class="row">
            </div>
        </div>

<!-- Otel detayları bitiş -->

        <h2 class="title">Odalar</h2>
        <!-- Otelin odaları -->
        <div id="rooms" class="row">

        </div>

{% endblock %}

{% block javascripts %}

    <script language="JavaScript">

        var qsParm = new Array();
        var query = window.location.search.substring(1);
        var parms = query.split('&');
        for (var i = 0; i < parms.length; i++) {
            var pos = parms[i].indexOf('=');
            if (pos > 0) {
                var key = parms[i].substring(0, pos);
                var val = parms[i].substring(pos + 1);
                qsParm[key] = val;
            }
        }

        $.ajax({
            url:'/getHotelPics',
            method:'post',
            data:{
                id:qsParm.hotel
            },
            success:function (data) {
                var resimler = jQuery.parseJSON(data).images;
                var img_link = jQuery.parseJSON(data).img_link;
                var html ='<div class="item active"><img src="http://'+img_link+resimler[0].url+'" class="img-responsive" alt="slide"></div>';
                for(var i=1;i<resimler.length;i++){
                    html+='<div class="item  height-full"><img src="http://'+img_link+resimler[i].url+'"  class="img-responsive" alt="slide"></div>';

                }
                $(html).appendTo('#hotelPics');
            },
            error:function (data) {
                console.log(data);
            }
        });

        $.ajax({
            url:'/getHotelId',
            method:'post',
            data:{
                id:qsParm.hotel
            },
            success:function (data) {
                var html="";
                html ='<div class="col-sm-12 col-md-5"><p>'+data.detail+'</p></div>';
                $(html).appendTo($('#hotelInfo'));

            },
            error:function (data) {
                console.log(data);
            }
        });

        function putPics(rooms) {
            for(var i=0;i<rooms.length;i++){
                var roomPic="";
                $.ajax({
                    url:'/getHotelPics',
                    method:'post',
                    data:{
                        id: rooms[i].id
                    },
                    success:function (data2) {
                        console.log(data2);return;
                        if(jQuery.parseJSON(data2).images[0] != undefined){
                            for(var k =0;k<i;k++){
                                var html="";
                               /* roomPic= "http://"+jQuery.parseJSON(data2).img_link+jQuery.parseJSON(data2).images[0].url;
                                html='<div class="col-sm-6 fadeInUp">'+
                                    ' <div class="rooms"><img src="'+roomPic+'" class="img-responsive">'+
                                    '<div  class="info">'+
                                    '<h3>'+rooms[k].type+'</h3>'+
                                    '<p> '+rooms[k].detail.substr(0,25)+'...</p>'+
                                    '<a href="/room-details?room='+rooms[k].id+'" class="btn btn-default">Ayrıntıya Git</a>'
                                ;
                                $(html).appendTo('#rooms');*/
                            }
                        }
                    },
                    error:function (data) {
                        console.log(data);
                    }
                });
            }
        }

        $.ajax({
           url:'/getHotelRooms',
           method:'post',
           data:{
               id:qsParm.hotel
           },
            success:function (data) {
                 var rooms=jQuery.parseJSON(data);
                 putPics(rooms);
            },
            error:function (data) {
                console.log(data);
            }
        });

    </script>

{% endblock %}