{% extends 'base.html.twig' %}

{% block title %}Oteller{% endblock %}

{% block body %}

    <div class="container">

        <h2>Oteller</h2>
        <div id="hotels" class="row">
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script language="JavaScript">
       $.ajax({
            url:'/get-hotels',
            method:'post',
            success:function (data) {
                putPics(jQuery.parseJSON(data));
            },
            error:function (data) {
                console.log(data);
            }
        });

       function putPics(hotels) {
           for(var i=0;i<hotels.length;i++){
               var hotelPic="";
               $.ajax({
                   url:'/getHotelPics',
                   method:'post',
                   data:{
                       id: hotels[i].id
                   },
                   success:function (data2) {
                       //console.log(jQuery.parseJSON(data2).images[0].url);return;
                       if(jQuery.parseJSON(data2).images[0] != undefined){
                           for(var k =0;k<i;k++){
                               var html="";
                               hotelPic= "http://"+jQuery.parseJSON(data2).img_link+jQuery.parseJSON(data2).images[0].url;
                               html='<div class="col-sm-6 fadeInUp">'+
                                   ' <div class="rooms"><img src="'+hotelPic+'" class="img-responsive">'+
                                   '<div  class="info">'+
                                   '<h3>'+hotels[k].name+'</h3>'+
                                   '<p> '+hotels[k].detail.substr(0,25)+'...</p>'+
                                   '<a href="/hotel-details?hotel='+hotels[k].id+'" class="btn btn-default">Ayrıntıya Git</a>'
                               ;
                               $(html).appendTo('#hotels');
                           }
                       }
                   },
                   error:function (data) {
                       console.log(data);
                   }
               });
           }
       }

    </script>

{% endblock %}
