{% extends 'base.html.twig' %}

{% block title %}Anasayfa{% endblock %}

{% block body %}

<!-- banner -->
<div class="banner">
    <img src="images/photos/banner.jpg"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
                <h1  class="animated fadeInDown">Bitirme 2 Otel Otomasyonu</h1>
            </div>
            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
<!-- banner-->
<!-- reservation-information -->
<div id="information" class="spacer reserve-info ">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-12">
                <h3>Rezervasyon</h3>
                <form role="form" class="wowload fadeInRight">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="province">İl</label>
                                <select id="province" class="form-control">
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="county">İlçe</label>
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="star">Yıldız</label>
                                <select class="form-control">
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="name">Oteller</label>
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="roomType">Odalar</label>
                                <select class="form-control">
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="count">Kişi Sayısı</label>
                                <input class="form-control" value="0" min="0" type="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label id="lblgr" for="entranceDate">Giriş Tarihi</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-xs-6">
                                <label for="leaveDate">Çıkış Tarihi</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default"><a href="{{ path('contact') }}">Rezerve Et</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- reservation-information -->



<!-- services -->
<div class="spacer services wowload fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- OtelCarousel -->
                <div class="carousel slide" data-ride="carousel">
                    <div id="hotelCarousel" class="carousel-inner">
                        <!-- Otellerin resimleri gelecek
                        <div class="item active"><img src="images/photos/8.jpg" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="images/photos/9.jpg"  class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="images/photos/10.jpg"  class="img-responsive" alt="slide"></div>
                        Otellerin resimleri gelecek -->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#OtelCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#OtelCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- OtelCarousel-->
                <div class="caption">Oteller<a href="{{ path ('hotels') }}" class="pull-right"><i class="fa fa-edit"></i></a></div>
            </div>
            <!-- OdaCarousel -->
            <div class="col-sm-6">
                <!-- OdaCarousel -->
                <div class="carousel slide" data-ride="carousel">
                    <div id="roomCarousel" class="carousel-inner">
                        <!-- Odaların resimleri gelecek
                        <div class="item active"><img src="images/photos/8.jpg" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="images/photos/9.jpg"  class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="images/photos/10.jpg"  class="img-responsive" alt="slide"></div>
                         Odaların resimleri gelecek -->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#OdaCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#OdaCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- OdaCarousel -->
                <div class="caption">Odalar</div>
            </div>
        </div>
    </div>
</div>
<!-- services -->
{% endblock %}

{% block javascripts %}

    <script language="JavaScript">

        $( document ).ready(function() {
            $.ajax({
                url:'hotelsRooms',
                methos:'post',
                success:function (data) {
                    var hotels = jQuery.parseJSON(data).hotels;
                    var rooms = jQuery.parseJSON(data).rooms;
                    console.log(hotels);
                    console.log(rooms);
                },
                error:function (data) {
                    console.log("error");
                }
            });
        });

    </script>


    <script language="JavaScript">


        $.ajax({
            url:'/images',
            method:'post',
            success:function (data) {
                var resimler = jQuery.parseJSON(data);
                var roomc='<div class="item active"><img src="http://localhost:8001'+resimler[0].url+'" class="img-responsive" alt="slide"></div>';
                var html ='<div class="item active"><img src="http://localhost:8001'+resimler[0].url+'" class="img-responsive" alt="slide"></div>';
                for(var i=1;i<resimler.length;i++){
                    if(resimler[i].room_id != undefined){
                        html+='<div class="item  height-full"><img src="http://localhost:8001'+resimler[i].url+'"  class="img-responsive" alt="slide"></div>';
                        roomc+='<div class="item  height-full"><img src="http://localhost:8001'+resimler[i].url+'"  class="img-responsive" alt="slide"></div>';
                    }
                    else{
                        html+='<div class="item  height-full"><img src="http://localhost:8001'+resimler[i].url+'"  class="img-responsive" alt="slide"></div>';
                    }
                }
                $(html).appendTo('#hotelCarousel');
                $(roomc).appendTo('#roomCarousel');
            },
            error:function (data) {
                console.log(data);
            }
        });

    </script>

{% endblock %}