{% extends 'base.html.twig' %}

{% block title %}Oda Detayları{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="title">Oda Detayları</h1>



        <!-- RoomDetails -->
        <div id="RoomDetails" class="carousel slide" data-ride="carousel">
            <div id ="roomPics" class="carousel-inner"></div>
            <a class="left carousel-control" href="#RoomDetails" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right carousel-control" href="#RoomDetails" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>

        </div>
        <!-- RoomCarousel-->

        <div class="room-features spacer">
            <div id="roomInfo" class="row">
                <!--
                <div class="col-sm-3 col-md-2">
                    <div class="size-price">Size<span>44 sq</span></div>
                </div>
                -->
            </div>
        </div>



    </div>

{% endblock %}

{% block javascripts %}

    <script language="JavaScript">

        var qsParm = new Array();
        var query = window.location.search.substring(1);
        var parms = query.split('&');
        for (var i = 0; i < parms.length; i++) {
            var pos = parms[i].indexOf('=');
            if (pos > 0) {
                var key = parms[i].substring(0, pos);
                var val = parms[i].substring(pos + 1);
                qsParm[key] = val;
            }
        }

        $.ajax({
            url:'/get-room-pics',
            method:'post',
            data:{
                id:qsParm.room
            },
            success:function (data) {
                var resimler = jQuery.parseJSON(data).images;
                var img_link = jQuery.parseJSON(data).img_link;

                var html ='<div class="item active"><img src="http://'+img_link+resimler[0].url+'" class="img-responsive" alt="slide"></div>';
                for(var i=1;i<resimler.length;i++){
                    html+='<div class="item  height-full"><img src="http://'+img_link+resimler[i].url+'"  class="img-responsive" alt="slide"></div>';

                }
                $(html).appendTo('#roomPics');
            },
            error:function (data) {
                console.log(data);
            }
        });

        $.ajax({
            url:'/getRoom',
            method:'post',
            data:{
                id:qsParm.room
            },
            success:function (data) {
                data=jQuery.parseJSON(data);
                var html="";
                html ='<div class="col-sm-12 col-md-5"><p>'+data.detail+'</p></div>'+'<br><br>'+
                    '<div class="col-sm-3 col-md-2"> <div class="size-price">Boyut<span>'+data.size+' m²</span></div></div>'+
                    '<div class="col-sm-3 col-md-2"> <div class="size-price">Fiyat<span>'+data.price+' TL</span></div></div>'+
                    '<div class="col-sm-3 col-md-2"> <div class="size-price">Kapasite<span>'+data.capacity+' kişilik</span></div></div>'
                ;
                $(html).appendTo($('#roomInfo'));

            },
            error:function (data) {
                console.log(data);
            }
        });

    </script>

{% endblock %}